---
import Container from '@/components/Container.astro';
---

<footer class="pt-24">
  <Container>
    <p class="text-center text-muted-foreground text-sm">
      &copy; {new Date().getFullYear()}. Timofey Zaruns - timofey.zaruns@gmail.com
    </p>
  </Container>
</footer>