---
import { Image } from 'astro:assets';
import { getImage } from 'astro:assets';
import type { AuthorInfo } from '@/lib/constants';

interface Props extends AuthorInfo {}
const { avatar, name, headline, location } = Astro.props;

const image = await getImage({ src: avatar, format: 'avif'});
---

<div class="flex items-center gap-4">
  <div class="relative rounded-full shrink-0 overflow-hidden">
    <Image
      loading="eager"
      src={image.src}
      alt={name}
      width={120}
      height={120}
      class="rounded-full"
    />
  </div>
  <div class="flex flex-col gap-2">
    <h1 class="text-xl font-semibold text-headings leading-tight">
      {name}
      <span class=" mt-0.5 block font-normal leading-normal text-base text-foreground leading-tight">
        {headline}
      </span>
    </h1>
  </div>
</div>